@import url("./reset.css");

/* GENERAL STYLE */

a{
    text-decoration: none;
}

.flex {
    display: flex;
  }
  .wrap {
      display: flex;
      margin-left: 3rem;
      flex-wrap: wrap;
  }
  
  header {
    background-color: rgb(178, 178, 178);
    padding: 2rem;
  }
  header strong {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .category {
    padding: 2rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .button {
    background-color: black;
    color: red;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.3rem 0.5rem;
    margin: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 210px;
    height: 70px;
  }
  
  .button:hover{
      background-color: red;
      color: black;
      box-shadow: 0px 60px 60px 0px rgb(113, 113, 113);
  }

  .active {
    font-size: 1rem;
    font-weight: 700;
    background-color: red;
    border-radius: 10px;
    color: black;
    border: none;
    margin: 1.5rem;
    padding: 0.3rem 0.5rem;
    width: 210px;
    height: 70px;
    box-shadow: 0px 60px 60px 0px rgb(113, 113, 113);
  }
  
  /* LEVEL */
  .level {
    padding: 2rem;
    text-align: center;
  }
  
  .start-quiz-btn {
    color: green;
    font-size: 1.3rem;
    margin-top: 0.7rem;
  }
  .quiz {
    padding: 2rem;
  }
  
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .ans li {
    margin: 0.5rem 0;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .start-quiz-btn{
    text-decoration: none;
    justify-content: center;
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
}
  
  .green {
    color: white;
    background-color: green;
  }
  .purple {
    color: black;
  }
  .purple:hover {
    background-color: purple;
    color: white;
  }
  .next {
    background-color: rgb(33, 57, 106);
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .next:hover {
    background-color: black;
  }
  
  /* RESULT */
  .result {
    padding: 2rem;
  }
  
  table {
    border: 1px solid rgb(178, 178, 178);
  }
  td {
    padding: 0.8rem;
  }
  .d-green {
    color: green;
  }
  .red {
    color: red;
  }
  .text-center {
    text-align: start;
  }
  .go-home {
    background-color: brown;
    color: white;
    margin-top: 1rem;
    height: 15px;
    width: 88px;
    padding: 1rem;
}

  th,td,tr{
      border: 1px solid black;
  }

  th{
      padding: 1rem;
  }
 